html, body {
  border: 0px;
  margin: 0px;
}

body {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
}



/* wish */

#wish {
  position:relative;
}

#wish video {
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}




/* scroll */

.scroll:hover .left {animation-play-state: running;}
.scroll:hover .right {animation-play-state: running;}
.scroll:hover .middle {animation-play-state: running;}
.scroll:hover .middle #page {animation-play-state: running;}

.scroll {
  position: relative;
}




/* scroll left */

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 1s ease-in-out forwards;
  animation-play-state: paused;
}

#cylinder {
  position: absolute;
  width: 80px;
  height: 340px;
  background: linear-gradient(to right, #AB0740, #BA4C76, #AB0740, #80032E);
  border-radius: 50% / 5%;
  z-index:3;
}

#cylinder2 {
  position: absolute;
  width: 77px;
  height: 350px;
  background: linear-gradient(to right, #B3AA37, #D1CA6B, #B3AA37, #806F03);
  border-radius: 50% / 4%;
  z-index:2;
}

#cylinder3 {
  position: absolute;
  width: 35px;
  height: 380px;
  background: linear-gradient(to right, #663300, #805020, #663300, #331A01);
  border-radius: 50% / 1%;
  z-index:1;
}

@keyframes slideLeft {
  from {transform: translateX(0px);}
  to {transform: translateX(-300px);}
}



/* scroll right */

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideRight 1s ease-in-out forwards;
  animation-play-state: paused;
}

#cylinder4 {
  position: absolute;
  width: 15px;
  height: 320px;
  background: linear-gradient(to right, #AB0740, #BA4C76, #AB0740, #80032E);
  border-radius: 50% / 5px;
  z-index:3;
}

#cylinder5 {
  position: absolute;
  width: 12px;
  height: 330px;
  background: linear-gradient(to right, #B3AA37, #D1CA6B, #B3AA37, #806F03);
  border-radius: 50% / 2px;
  z-index:2;
}

#cylinder6 {
  position: absolute;
  width: 8px;
  height: 350px;
  background: linear-gradient(to right, #663300, #805020, #663300, #331A01);
  border-radius: 50% / 3px;
  z-index:1;
}

@keyframes slideRight {
  from {transform: translateX(0px);}
  to {transform: translateX(300px);}
}



/* scroll middle */

.middle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  animation: middle 1s ease-in-out forwards;
  animation-play-state: paused;
}

#border {
  position: absolute;
  width: 10px;
  height: 310px;
  background: linear-gradient(to left, #B3AA37, #D1CA6B, #B3AA37, #806F03);
}

#colour {
  position: absolute;
  width: 10px;
  height: 300px;
  background: linear-gradient(to left, #AB0740, #BA4C76, #AB0740, #80032E);
}

@keyframes middle {
  from {transform: scaleX(1);}
  to {transform: scaleX(59);}
}

/* page */

.page {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#page2 {
  position: absolute;
  left: -280px;
  width: 10px;
  height: 260px;
  background: linear-gradient(to right, #D7D9CE, #EFF0E9, #F9FAF5, #FFFFFF);
  animation: page 1s ease-in-out forwards;
  animation-play-state: paused;
}


/* text */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

#msg {
  position: absolute;
  width: 200px;
  text-align: center;
}
