html, body {
  border: 0px;
  margin: 0px;
}

body {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
}

/* wish */

#wish {
  position:relative;
}

#wish video {
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}


/* scroll */

.scroll:hover .left {animation-play-state: running;}
.scroll:hover .middle {animation-play-state: running;}
.scroll:hover .right {animation-play-state: running;}


/* scroll left */

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideLeft 1s ease-in-out forwards;
  animation-play-state: paused;
}

#cylinder {
  position: absolute;
  width: 75px;
  height: 320px;
  background-color: #7700AA;
  border-radius: 50% / 5%;
  z-index:10;
}

#cylinder2 {
  position: absolute;
  width: 72px;
  height: 330px;
  background-color: #EEEE99;
  border-radius: 50% / 4%;
  z-index:9;
}

#cylinder3 {
  position: absolute;
  width: 30px;
  height: 350px;
  background-color: #663300;
  border-radius: 50% / 1%;
  z-index:8;
}

@keyframes slideLeft {
  from {transform: translateX(0px)}
  to {transform: translateX(-300px)}
}


/* scroll middle */

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 10px;
  background-color: #EEEE99;
  animation: middle 1s ease-in-out forwards;
  animation-play-state: paused;

@keyframes middle {
  from {transform: scaleX(0px)}
  to {transform: scaleX(600x);
}
  
}

/* scroll right */

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideRight 1s ease-in-out forwards;
  animation-play-state: paused;
}

#cylinder4 {
  position:absolute;
  width:15px;
  height:320px;
  background-color: #7700AA;
  border-radius: 50% / 5px;
  z-index:-8;
}

#cylinder5 {
  position: absolute;
  width: 12px;
  height: 330px;
  background-color: #EEEE99;
  border-radius: 50% / 2px;
  z-index:-9;
}

#cylinder6 {
  position: absolute;
  width: 8px;
  height: 350px;
  background-color: #663300;
  border-radius: 50% / 3px;
  z-index:-10;
}

@keyframes slideRight {
  from {transform: translateX(0px)}
  to {transform: translateX(300px)}
}





